.heart-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #feffa7;
}

.heart-pic{
    z-index: 10;
}

.button-red {
    position: absolute;
    top:10%;
    left: 46%;
    padding: 10px 20px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #e03c4b;
    border-radius: 5px;
    color: #e03c4b;
    background-color: #eb9aa1;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    z-index: 30;
  }
  
  .button-red:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
  }